body {
  margin: 2rem;
  font-family: "Roboto Condensed", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.buttonArea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
